* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

$colorPrincipalOscuro: rgb(131, 72, 35);
$colorPrincipalClaro: rgb(159, 87, 43);

@mixin shadow($alto, $desenfoque) {
  box-shadow: 0 $alto $desenfoque 0 rgba(131, 72, 35, 0.1);
}

header {
  background-color: $colorPrincipalClaro;
  color: white;
}

a {
  color: inherit;
  text-decoration: inherit;
}

footer {
  background-color: $colorPrincipalClaro;
  color: white;
}

main {
  background-color: rgb(242, 216, 187);
}

table {
  border: 2px solid $colorPrincipalOscuro;
  text-align: center;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid $colorPrincipalOscuro;
}

th {
  border-bottom: 2px solid $colorPrincipalOscuro;
}

form {
  display: block;
}

.title {
  color: $colorPrincipalOscuro;
  margin-bottom: 24px;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

header {
  padding: 10px 0;
}

header img {
  height: 80px;
  animation: flotar 1.5s infinite;
}

@keyframes flotar {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }

  100% {
    transform: translateY(0);
  }
}

header nav ul {
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

header nav ul li {
  margin: 0 16px;
}

header nav ul li.highlight {
  background-color: #fff;
  color: #6f390a;
  border-radius: 5px;

  a {
    padding: 6px 12px;
    display: inline-block;
  }
}

header nav ul li a {
  transition: all 0.2s;
}

header nav ul li a:hover {
  color: rgba(255, 255, 255, 0.7);
}

header nav ul li.highlight a:hover {
  color: #6f390a;
}

main {
  padding: 64px 0;
}

main.no-padding {
  padding: 0;
}

footer {
  text-align: center;
  padding: 24px 0;
}

footer img {
  height: 100px;
}

.hero img {
  width: 100%;
  display: block;
}

.hero-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.hero {
  position: relative;
}

.servicios-container__article {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 16px;
  display: flex;
  @include shadow(10px, 20px);
}

.servicios-container__article--right-service {
  flex-direction: row-reverse;
  text-align: right;
}

.servicios-container__img-mobile {
  display: none;
}

.servicios-container__img {
  height: 200px;
}

.servicios-container div {
  padding: 24px;
}

.servicios-container h2 {
  margin-bottom: 16px;
}

.cabanas-info {
  border: 1px solid $colorPrincipalOscuro;
  border-radius: 10px;
  margin-bottom: 24px;
  padding: 24px;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  gap: 16px;
}

.galeria__image-container {
  overflow: hidden;

  img {
    transition: all 0.2s;

    &:hover {
      transform: scale(1.15);
    }
  }
}

.galeria__article {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 5px;
  @include shadow(4px, 8px);
}

.galeria__article--destacado {
  background-color: #6f390a;
  color: #fff;
  transform: scale(1.02);
}

.galeria__text {
  padding: 16px;
  font-weight: bold;
  text-align: center;
}

.galeria img {
  width: 100%;
  border-radius: 7px;
}

.ubicacion-container {
  display: flex;
}

.ubicacion-container__map {
  width: 60%;
  position: relative;

  iframe {
    width: 100%;
    height: 100%;
  }
}

.ubicacion-container__info {
  width: 40%;
  background-color: $colorPrincipalClaro;
  color: #fff;
  text-align: center;
  padding: 32px;
  display: flex;
  align-items: center;
}

.ubicacion-info p {
  margin-bottom: 16px;
}

.contacto label {
  display: block;
}

.contacto form {
  width: 100%;
  max-width: 400px;
}

.contacto input,
.contacto select,
.contacto textarea {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 5px;
  margin-bottom: 8px;
}

.contacto #terminos {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contacto #terminos input {
  width: auto;
  margin-bottom: 0;
  margin-right: 6px;
}

.contacto input[type="submit"] {
  cursor: pointer;
  background-color: $colorPrincipalClaro;
  color: #fff;
}

.contacto input[type="reset"] {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

.tarifas-table {
  margin-top: 16px;
}

$temp-alta: rgb(99, 30, 30);
$temp-baja: rgb(23, 87, 23);
$temp-media: rgb(75, 75, 17);

%temp {
  font-style: italic;
  font-weight: bold;
}

.temp-alta {
  @extend %temp;
  color: $temp-alta;
}
.temp-baja {
  @extend %temp;
  color: $temp-baja;
}
.temp-media {
  @extend %temp;
  color: $temp-media;
}

.tarifas-table td,
.tarifas-table th {
  padding: 8px 14px;
}

.temporadas {
  display: flex;
}

.temporadas__temporada {
  border-radius: 5px;
  margin-right: 1rem;
  background-color: #fff;
  padding: 10px;

  h2 {
    font-size: 1.45rem;
  }
}

$temporadas: (
  alta: #ff0000,
  baja: #008000,
  media: #ffff00,
);

@each $temp, $color in $temporadas {
  .temporadas__temporada-#{$temp} {
    background-color: $color;
  }
}

.temporadas__temporada-oscuro {
  color: #fff;
}

.carousel-container-cabanas {
  max-width: 80%;
  margin: 48px auto;
  border-radius: 10px;
  overflow: hidden;
}

.opciones-viaje .wrapper {
  padding: 64px 0;
}

.opciones-viaje__image-container {
  padding-left: 20px;
}

.opciones-viaje__img {
  width: 100%;
  border-radius: 10px;
}

.reserva-form {
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid #6f390a;

  button {
    background-color: #6f390a;
    color: #fff;
    padding: 5px 18px;
    border-radius: 5px;
    border: none;
  }
}

.reserva-form-inputs {
  display: flex;
}

.reservas-form-input-container {
  display: flex;
  align-items: center;
  margin-right: 2rem;

  label {
    margin-right: 10px;
  }
}

#reserva-resultados {
  margin-top: 4rem;
}

.resultado-reserva {
  border-radius: 10px;
  background-color: rgba(#6f390a, 0.7);
  border: 2px solid #6f390a;
  color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
}

.resultado-reserva-header {
  display: flex;
  justify-content: space-between;
}

.resultado-reserva-precios {
  text-align: right;

  p {
    margin-bottom: 0;
  }
}

.resultado-reserva-caracteristicas {
  margin-top: 1.5rem;
}

.precio-final {
  font-size: 28px;
}

#cantidad_pax {
  width: 50px;
}

.texto-cargando-comentarios {
  margin-top: 2rem;
  font-size: 24px;
}

.comentarios-container {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 16px;

  .comentario {
    border: 4px solid rgba(#6f390a, 0.2);
    border-radius: 10px;
    padding: 16px;

    p {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 1366px) {
  .reserva-form-inputs {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .reserva-form {
    button {
      width: 200px;
      display: block;
    }
  }

  .reservas-form-input-container {
    margin-right: 0;

    label {
      margin-right: 1rem;
      width: 300px;
    }

    select,
    #cantidad_pax,
    input {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1100px) {
  .servicios-container__img-mobile {
    display: block;
    padding: 0;
    height: 200px;
    background-size: cover;
    background-position: center;
  }

  .servicios-container__img {
    display: none;
  }

  .servicios-container__article {
    display: block;
  }
}

@media screen and (max-width: 1024px) {
  header img {
    height: 50px;
  }

  .opciones-viaje__image-container {
    margin-left: 0;
    margin-top: 24px;
  }

  .ubicacion-container {
    display: block;
  }

  .ubicacion-container__map {
    height: 250px;
  }

  .ubicacion-container__info,
  .ubicacion-container__map {
    width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 970px) {
  .reserva-form-inputs {
    grid-template-columns: minmax(0, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .reservas-form-input-container {
    display: block;
  }

  footer img {
    height: auto;
    width: 80%;
  }

  .temporadas {
    display: block;
  }

  .temporadas__temporada {
    margin-right: 0;
    margin-bottom: 0.75rem;
  }

  .tarifas-table td,
  .tarifas-table th {
    padding: 4px 8px;
  }

  .hero-text {
    h1 {
      font-size: 1.25rem;
    }

    h2 {
      font-size: 1rem;
    }
  }
}
